<style>
.mail-form{width: 450px; border:5px solid #ff8d28; box-shadow: 5px 5px 15px rgba(0,0,0,0.4); margin: 10px auto; border-radius:12px; font-size: 12px;}
.mail-header{background-color: #cfcfcf; font-size: 1.2em;padding: 15px;text-align: center;border-bottom: 1px solid #ababab;border-radius: 5px 5px 0 0;}
.mail-content{padding: 15px;}
    </style>
<div class="mail-form">
	<div class="mail-header">Информационное сообщение сайта <a href="http://#SITE_NAME#">#SITE_NAME#</a></div>
	<div class="mail-content">
		<p align="center"><b>Запрос цены товара</b></p>
		<p><b>Email пользователя: </b><a href="mailto:#email#">#email#</a>.</p>
        <p><b>Товар: </b><a href="http://#SITE_NAME##url#">#name#</a>.</p>
        <br>
		<p><b>Связаться с клиентом можно email: </b><a href="mailto:#email#">#email#</a></p>
	</div>
</div>
