.frames img, .pushs img{width:75px;margin-bottom: 10px;}
#complect-info{
	width: 200px;
	height: 200px;
	padding: 50px;
}
.decor-items{position:relative;}
.decor-element{
	position: absolute;
	top:0px;
	left: 0px;
	width: 200px;
	height: 200px;
}
.frames-selected{z-index: 10; background-size: 200px auto;}
.pushs-selected{z-index: 20; background-size: 200px auto;}

#brans-list li, #collection-list li{ cursor: pointer; background: linear-gradient(to bottom, #888, #333); color: white; margin: 2px; padding: 3px 15px;}

#brans-list .active, #collection-list .active, #brans-list .active:hover, #collection-list .active:hover{
	background: linear-gradient(to top, #444, #999); color: #eee;
}

.ajax-loader-wait{
	background: rgba(0, 0, 0, 0.4);
	z-index:10;
	width:100%;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
}

.block-images{position: relative;}

#brans-list, #collection-list {
    padding-left: 0px;
}
#brans-list li, #collection-list li {
list-style-type: none;
}
#brans-list li, #collection-list li{background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #e0e2e4 97%, #e3e5e7 98%, #e9ebec 99%, #f3f4f5 100%) repeat scroll 0 0; color: #57758a;margin-bottom: 2px;}
#brans-list li:hover, #collection-list li:hover{background:rgba(0, 0, 0, 0) linear-gradient(to top, #ffffff 0%, #e0e2e4 97%, #e3e5e7 98%, #e9ebec 99%, #f3f4f5 100%) repeat scroll 0 0;}


.bx-wrapper .bx-controls .bx-controls-direction > a{
border: medium none;
    left: 28%;
    text-decoration: none;
    transform: rotate(90deg);
    z-index: 900;
}
.bx-controls .bx-controls-direction a.bx-prev {
    top: 0;
}
.bx-controls .bx-controls-direction a.bx-next {
	top: auto;
	bottom: -25px;
}
 .colorpicker-2x .colorpicker-saturation { width: 200px; height: 200px; } .colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha { width: 30px; height: 200px; } .colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div { height: 30px; }
 #complect-info.no-wp{background-image: none; }
 #selector-wp .mini-wp{width:50px; height:50px; background-position:cover; display:inline-block; cursor:pointer; border:1px solid #ccc; box-shadow:1px 1px 3px #666; margin:2px 7px; text-align:center;}
 #selector-wp .wp-0{background-image: url("/online-kit-socket/img/wp-m-0.png"); }
 #selector-wp .wp-1{background-image: url("/online-kit-socket/img/wp-m-1.png"); }
 #selector-wp .wp-2{background-image: url("/online-kit-socket/img/wp-m-2.png"); }
 #selector-wp .wp-3{background-image: url("/online-kit-socket/img/wp-m-3.png"); }
 #selector-wp .wp-4{background-image: url("/online-kit-socket/img/wp-m-4.png"); }
 #selector-wp .wp-5{background-image: url("/online-kit-socket/img/wp-m-5.png"); }
 #complect-info.wp-1{background-image: url("/online-kit-socket/img/wp-1.png"); }
 #complect-info.wp-2{background-image: url("/online-kit-socket/img/wp-2.png"); }
 #complect-info.wp-3{background-image: url("/online-kit-socket/img/wp-3.png"); }
 #complect-info.wp-4{background-image: url("/online-kit-socket/img/wp-4.png"); }
 #complect-info.wp-5{background-image: url("/online-kit-socket/img/wp-5.jpg"); }
 .v-slider img{min-width: 61px; min-height: 61px;}
 .header-table{padding:25px 0px 10px; border-bottom: 1px solid #677;}
 .basket_quantity_control{
 	display: inline-block;
 	left: 0;
 	margin: 3px 0 0;
 	padding: 0;
 }
 .basket_quantity_control a {
    background: url("/bitrix/components/bitrix/sale.basket.basket/templates/.default/images/arrows.png") no-repeat scroll 0 0 transparent;
    border: 1px solid #D8D8D8;
    display: block;
    height: 10px;
    text-align: center;
    width: 11px;
}

#get-goods {
    background-color: #97be2d;
    border: medium none;
    color: white;
    display: block;
    margin-top: 10px;
    padding: 10px 95px;
}
